pre.vue-container
  border-left-width: .5rem;
  border-left-style: solid;
  border-color: $lightAccent;
  border-radius: 0px;
  & > code
    font-size: 14px !important;
    & > p
      margin: -5px 0 -20px 0;
    code
      color: $lightAccent;
      font-weight bolder !important
    a
      color: $lightAccent;
      font-weight bolder !important
    strong a
      background-color: $lightAccent !important;
      padding: 3px 5px;
      border-radius: 3px;
      color #000
    em
      color #808080
      font-weight light